<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nadia.complain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dowry"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dowry"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Author" />
        <activity android:name=".Complain" />
        <activity android:name=".Registration" />
        <activity android:name=".Login" />
        <activity android:name=".Profile" />
        <activity android:name=".Profile_details" />
        <activity android:name=".Complain_details" />
        <activity android:name=".Message_complainer" />
        <activity android:name=".Saved_complain" />
        <activity android:name=".About_app" />
        <activity android:name=".Contact"></activity>
    </application>

</manifest>